* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    line-height: 1.5em;
}

.nav-section {
    display: flex;
    gap: 1rem;
    align-items: center;
    width: 800px;
    margin: 0 auto;
}